.word{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-evenly;
  width:100%;
  a{
    text-decoration: underline;
    cursor:pointer;
    color:yellow;
  }
  p{
    margin:0 !important;
    font-size:15px !important;
  }
  svg{
    width:30px;
    height:30px;
  }
}