
  .cell{
    border:1px solid grey;
    background:black;
    width:55px;
    height:55px;
    display:flex;
    justify-content:center;
    align-items:center;
    &>div{
      width:100%;
      height:100%;
    }
    p{
      font-size:12px !important;
      margin:0;
      text-align:center;
      position:relative;
      top:25%;

    }
    svg{
      width:40px;
      path{
        fill:white;
      }
    }
    .triple_word{
    background:orange;
  }
  .double_letter{
    background:lightblue;

  }
  .double_word{
    background:pink;
  }
  .triple_letter{
    background:blue;
  }
  .star{
    background-image: url("https://www.iconpacks.net/icons/2/free-star-icon-2768-thumb.png");
    background-size:100%;
    background-repeat: no-repeat;
  }
  .active{
    background:lightgreen;
    border:2px yellow solid;
  }
}