.triple_word{
  background:orange;
  width:100%;
  height:100%;
}
.double_letter{
  background:lightblue;
  width:100%;
  height:100%;
}
.double_word{
  background:pink;
  width:100%;
  height:100%;
}
.triple_letter{
  background:blue;
  width:100%;
  height:100%;
}
