.App {
  text-align: center;
  background-image:url("https://media.istockphoto.com/id/905486620/photo/green-felt-texture-for-casino-background.jpg?s=612x612&w=0&k=20&c=-13yglCm8BjAVTywkzzCfFf3HxXHLrL0ceasuHZLkPI=");
  background-repeat: no-repeat;
  background-size: 100%;
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
}

